<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">RedJava</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li><a href="profile.jsp">Twoj profil</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
            	<li><a href="friends.jsp">Znajomi</a></li>
                <li><a href="Visitors.jsp">Odwiedzajacy</a></li>
                <li><a href="search.jsp">Wyszukiwarka</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-gift"></span>Zaloguj/Wyloguj</a></li>
            </ul>
        </div>
    </div>
</nav>